@tailwind base;
@tailwind components;
@tailwind utilities;

.header{
    box-shadow: 0 3px 6px 0 rgba(36, 39, 44, .1);
    border-bottom: 1px solid rgba(36, 39, 44, .1);
    z-index: 1;    
}
body{
    color : rgba(36,39,44,.7)
}